<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

<h1>Add New Book</h1>

<form action="/books/save" method="post">

    <label>Title:</label>
    <input type="text" name="title">
    <br><br>

    <label>Author:</label>
    <input type="text" name="author">
    <br><br>

    <label>Category:</label>
    <input type="text" name="category">
    <br><br>

    <label>Available Copies:</label>
    <input type="number" name="availableCopies">
    <br><br>

    <button type="submit">Save Book</button>

</form>

</body>
</html>